.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 15px 25px;
}

.embedded .App {
  min-height: 200px;
}
  
.not-embedded .App {
  height: 100vh;
}

.App__headline {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 25px;
}

.App__placeholder {
  font-size: 18px;
  color: #999;
  font-style: italic;
  max-width: 250px;
  margin: 0 auto;
  line-height: 1.5;
}

@media only screen and (min-width: 481px) {
  .App__headline {
    font-size: 28px;
  }
}
