.NewsletterSignup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 30px 25px;
}

.not-embedded .NewsletterSignup {
  height: 100vh;
}

.NewsletterSignup__headline {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 22px;
  margin-top: 0;
}

.NewsletterSignup__placeholder {
  font-size: 18px;
  color: #999;
  font-style: italic;
  max-width: 250px;
  margin: 0 auto;
  line-height: 1.5;
}

@media only screen and (min-width: 481px) {
  .NewsletterSignup__headline {
    font-size: 28px;
  }
}
